@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Desafio agendamento de tarefas</h1>
    <br />
    <p>
        Projeto desenvolvido como parte do desafio de código da DIO - que consiste na criação de uma tela de agendamento de tarefas.
    </p>

    <p>
        Esta aplicação permite criar, editar ou excluir tarefas, além de possibilitar pesquisas por título, data ou ID.
    </p>
</div>
